.card{
	padding:20px;
	border:1px black solid;
	margin:10px 10px;
	border-radius:5px;
	text-align: center;
	background: lighten(black,20);
	color:white;

	.title{
		font-weight: 600;
		font-size: 20px;
		text-align: left;
	}

	.main{
		text-align:center;
		.icon{
			font-size: 8rem;
		}
		.main__temp{
			font-size: 3rem;
			font-weight: 600;
			letter-spacing: -0.2rem;
		}
		.main__desc{
			font-weight: 600;
		}
	}

	.temps{
		margin:20px 0;
		.minmax{
			font-weight: 600;
			font-size: 2rem;
		}
	}
	.vermas{
		margin:20px 0;
	}
}

